* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
	margin: 0;
}

body {
	height: calc(100vh - 40px);
	margin: 0;
}

.nav {
	display: block;
	position: fixed;
	top: 0;
	height: 40px;
	background-color: #454545; /* I think we should should keep this color */
	width: 100%;
	padding: 0 20px 0 20px;
}

.nav__container {
	display: table;
	height: 100%;
	width: 100%;	
}

.nav__cell {
	display: table-cell;
	vertical-align: middle;
}

.trail {	
    padding: 0 20px 0 20px;
    position: fixed;
	top: 60px;
	
    height: 20px;
    width: 100%;
}

.trail__divider {
	display: none;
	font-size: 24px;
}

.trail__divider--active {
	display: inline-block;
}

.trail__arrow {
	color: #f0f0f0;
}

.trail__pt {
	color: #81C3D7; 
	text-decoration: none;
	cursor: pointer;
	padding: 0 10px 0 10px;
}

.trail__pt:hover {
    border-bottom: 2px solid;
}

.storyboard {
	background-color: #f0f0f0;
	box-shadow: 0px 0px 20px 5px #404040 inset;
	cursor: pointer;
	display: table;
	margin: 40px auto 0 auto;
	height: 100%;
	width: 100%;
}

.storyboard__container {
	height: 100%;
	display: table-row;
	cursor: pointer;
}

.storyboard__message {
	display: none;
	opacity: 0;
	vertical-align: middle;
	padding-bottom: 20px;
	text-align: center;
	text-shadow: 1px 1px 1px #000000;
	font-size: 4em;
	font-family: Arial;
	transition: opacity 500ms ease-in-out;
}

.storyboard__content {
	margin: auto;
	width: 40%;
	user-select: none;
}

.storyboard__content--title {
	font-style: italic;
}

.storyboard__message--active {
	display: table-cell;
}

footer {
	display: block;
	position: absolute;
	bottom: 0;
	right: 15px;
}

.credit * {
	display: inline-block;
}

.credit__title {
	font-style: italic;
}


@media only screen and (max-width: 600px) {
	.storyboard__content {
		width: 100%;
	}
}

@media only screen and (max-width: 900px) {
	.storyboard__content {
		width: 80%;
	}
}